extends class
doctype html
html
  head
    
  body
    block form
      #container
        h1 • THÔNG TIN LỚP MỚI •
        .underline
        .icon_wrapper
          svg.icon(height='25pt' viewBox='-60 0 500 500' width='25pt' xmlns='http://www.w3.org/2000/svg'   )            path(d='m42.503906 437.996094h200.605469v15h-200.605469zm0 0')
            path(d='m42.503906 421.453125h335.210938v48.085937h-236.710938v15h236.710938v12.460938h-336.773438l-25.941406-25.941406v-29.230469h-15v35.441406l34.730469 34.730469h357.984375v-105.546875h-350.210938zm0 0')
            path(d='m42.503906 469.539062h78.5v15h-78.5zm0 0')
            path(d='m34.730469 0-34.730469 34.730469v400.203125l40.941406-40.945313h351.773438v-393.988281zm342.984375 378.988281h-342.984375l-19.730469 19.730469v-357.777344l25.941406-25.941406h.183594v310.183594h15v-310.183594h321.589844zm0 0')
            path(d='m176.359375 329.878906h15v15h-15zm0 0')
            path(d='m206.359375 329.878906h15v15h-15zm0 0')
            path(d='m236.359375 329.878906h15v15h-15zm0 0')
            path(d='m235.84375 157.605469c-13.410156-34.644531-51.167969-54.402344-87.859375-44.570313l-7.246094 1.941406 1.941407 7.242188c4.425781 16.511719 14.515624 31.058594 28.414062 40.960938l8.703125-12.21875c-8.871094-6.316407-15.792969-15.015626-20.007813-24.992188 15.828126-1.988281 31.367188 2.632812 43.402344 11.996094-23.0625 28.605468-21.84375 71.128906 5.363282 98.339844l5.304687 5.300781 5.304687-5.300781c12.085938-12.089844 19.636719-28.101563 21.265626-45.089844l-14.933594-1.429688c-1.039063 10.84375-5.109375 21.191406-11.644532 29.828125-9.769531-12.847656-13.410156-28.570312-11.347656-43.585937 3.800782.59375 7.609375.890625 11.410156.890625 31.824219 0 62.125-21.113281 71.125-54.699219l1.941407-7.242188-7.246094-1.941406c-16.449219-4.40625-34.035156-2.96875-49.519531 4.054688l6.195312 13.65625c9.875-4.476563 20.824219-6.101563 31.527344-4.769532-6.09375 14.535157-17.675781 25.757813-32.09375 31.628907zm-29.359375 3.835937c1.890625-4.515625 4.355469-8.792968 7.351563-12.738281 2.945312 3.859375 5.4375 8.128906 7.382812 12.746094-4.863281.617187-9.808594.621093-14.734375-.007813zm0 0')
            path(d='m213.859375 263.496094c58.722656 0 106.496094-47.773438 106.496094-106.496094s-47.773438-106.496094-106.496094-106.496094c-24.480469 0-48.386719 8.511719-67.316406 23.96875l9.488281 11.621094c16.257812-13.277344 36.792969-20.589844 57.828125-20.589844 50.453125 0 91.496094 41.046875 91.496094 91.496094s-41.042969 91.496094-91.496094 91.496094c-50.449219 0-91.496094-41.046875-91.496094-91.496094 0-21.03125 7.3125-41.570312 20.589844-57.828125l-11.617187-9.488281c-15.460938 18.929687-23.972657 42.835937-23.972657 67.316406 0 58.722656 47.773438 106.496094 106.496094 106.496094zm0 0')
            path(d='m362.726562 452.996094h-49.617187v-15h49.617187zm-59.617187 0h-15v-15h15zm-25 0h-15v-15h15zm0 0')
            path(d='m299.234375 311.269531h-120.75v-15h120.75zm-130.75 0h-15v-15h15zm-25 0h-15v-15h15zm0 0')
            path(d='m360.335938 171.378906h-15v-91.667968h15zm0-101.667968h-15v-15h15zm0-25h-15v-15h15zm0 0')
            path(d='m255.175781 227.230469-7.625-12.917969c6.972657-4.117188 13.089844-9.417969 18.175781-15.75l11.695313 9.394531c-6.222656 7.746094-13.707031 14.230469-22.246094 19.273438zm28.542969-28.292969-12.851562-7.738281c2.320312-3.851563 4.25-7.941407 5.738281-12.167969l14.148437 4.984375c-1.824218 5.179687-4.191406 10.203125-7.035156 14.921875zm9.976562-25.53125-14.691406-3.019531c.898438-4.375 1.351563-8.878907 1.351563-13.386719h15c0 5.519531-.558594 11.039062-1.660157 16.40625zm0 0')

        form#contact_form(action='#' method='post')
          .subject
              input#title_input(type='text' placeholder='TIÊU ĐỀ (mô tả ngắn gọn) ' name='title' required='')
          .name
            select#subject_input(placeholder='Môn học' name='subject' required='')
              option(disabled='' hidden='' selected='') MÔN HỌC
              each s in subjects
                option #{s.Name}
          
          .subject
            input#telephone_input(type='text' placeholder='My number is' name='telephone' required='')
          .name
            select#subject_input(placeholder='Subject line' name='province' required='')
              option(disabled='' hidden='' selected='') TỈNH THÀNH
              each p in provinces
                option #{p.Title}
          .message
            label(for='description')
            textarea#description_input(style="background-color:white; opacity:0.8" name='description' placeholder="MÔ TẢ CHI TIẾT" cols='30' rows='5' )
            .message
            label(for='timetable') Thời khóa biểu
            .calendar-list-picker
              .row-calendar-check
                h5 Thứ 2
                ul
                  li
                    label#lb_Timetable( for='morning-session') SÁNG
                    input(type='checkbox', name='morning')
                  li
                    label#lb_Timetable( for='afternoon-session') CHIỀU
                    input(type='checkbox', name='afternoon')
                  li
                    label#lb_Timetable( for='night-session') TỐI
                    input(type='checkbox', name='night')
              .row-calendar-check
                h5 Thứ 3
                ul
                  li
                    label#lb_Timetable( for='morning-session') SÁNG
                    input(type='checkbox', name='morning')
                  li
                    label#lb_Timetable( for='afternoon-session') CHIỀU
                    input(type='checkbox', name='afternoon')
                  li
                    label#lb_Timetable( for='night-session') TỐI
                    input(type='checkbox', name='night')
              .row-calendar-check
                h5 Thứ 4
                ul
                  li
                    label#lb_Timetable( for='morning-session') SÁNG
                    input(type='checkbox', name='morning')
                  li
                    label#lb_Timetable( for='afternoon-session') CHIỀU
                    input(type='checkbox', name='afternoon')
                  li
                    label#lb_Timetable( for='night-session') TỐI
                    input(type='checkbox', name='night')
              .row-calendar-check
                h5 Thứ 5
                ul
                  li
                    label#lb_Timetable( for='morning-session') SÁNG
                    input(type='checkbox', name='morning')
                  li
                    label#lb_Timetable( for='afternoon-session') CHIỀU
                    input(type='checkbox', name='afternoon')
                  li
                    label#lb_Timetable( for='night-session') TỐI
                    input(type='checkbox', name='night')
              .row-calendar-check
                h5 Thứ 6
                ul
                  li
                    label#lb_Timetable( for='morning-session') SÁNG
                    input(type='checkbox', name='morning')
                  li
                    label#lb_Timetable( for='afternoon-session') CHIỀU
                    input(type='checkbox', name='afternoon')
                  li
                    label#lb_Timetable( for='night-session') TỐI
                    input(type='checkbox', name='night')
              .row-calendar-check
                h5 Thứ 7
                ul
                  li
                    label#lb_Timetable( for='morning-session') SÁNG
                    input(type='checkbox', name='morning')
                  li
                    label#lb_Timetable( for='afternoon-session') CHIỀU
                    input(type='checkbox', name='afternoon')
                  li
                    label#lb_Timetable( for='night-session') TỐI
                    input(type='checkbox', name='night')
              .row-calendar-check
                h5 Chủ nhật
                ul
                  li
                    label#lb_Timetable( for='morning-session') SÁNG
                    input(type='checkbox', name='morning')
                  li
                    label#lb_Timetable( for='afternoon-session') CHIỀU
                    input(type='checkbox', name='afternoon')
                  li
                    label#lb_Timetable( for='night-session') TỐI
                    input( type='checkbox', name='night')  
                  
          .submit
            input#form_button(type='submit' value='Đăng tin ')


    block container
    block script
      script.
        $('').click(function(){
            $('').addClass('lbl-active');
          });
        //- function myFunction() {
        //-   var element = document.getElementById("lb_Timetable");

        //-   element.classList.add("lbl-active");
        //- }