extends ./layout
doctype html
html(lang='en')
    body    
block append menu
//- block menu
    .container
      .row
        nav.navbar.navbar-expand-lg.narbar-light
          a.navbar-brand.mr-auto(href='#')
            img(src='img/ms-icon-70x70.png' alt='Site logo')
            |                             
          button#nav-toggle.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#mainNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #mainNav.collapse.navbar-collapse.tm-bg-white
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='#top')
                  | Trang chủ 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='#tm-section-4') Đầu tư
              li.nav-item
                a.nav-link(href='#tm-section-5') Bài viết
              li.nav-item
                a.nav-link(href='#tm-section-6') Liên hệ
              li.nav-item
                a.nav-link(href='#') Đăng nhập
              li.nav-item
                a.nav-link(href='/registration' ) Đăng Ký