extends layout
doctype html
html(lang='en')
  body  
        block form
          .container.ie-h-align-center-fix
            .row 
              .col-xs-12.ml-auto.mr-auto.ie-container-width-fix
                form.tm-search-form.tm-section-pad-2(action='index.html' method='get')
                  .form-row.tm-search-form-row
                    .form-group.tm-form-element.tm-form-element-50
                      i.fa.fa-book.fa-2x.tm-form-element-icon
                      input#inputCity.form-control(name='city' type='text' placeholder='Môn học')
                    .form-group.tm-form-element.tm-form-element-50
                      i.fa.fa-map.fa-2x.tm-form-element-icon
                      select#select_province.form-control(placeholder='Subject line' type='select' name='province' required='')
                        option(disabled='' hidden='' selected='') TỈNH THÀNH
                        each p in provinces
                          option #{p.Title}
                    .form-group.tm-form-element.tm-form-element-50
                      i.fa.fa-user.fa-2x.tm-form-element-icon
                      input#inputCheckOut.form-control(name='check-out' type='text' placeholder='Số học viên')
                    .form-group.tm-form-element.tm-form-element-50
                      button.btn.btn-primary.tm-btn-search(type='submit') Tìm kiếm
