extends ./template/master
doctype html
html(lang ='en')
  head
    block append head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      title TutorViking
      link(rel='apple-touch-icon' sizes='57x57' href='img/apple-icon-57x57.png')
      link(rel='apple-touch-icon' sizes='60x60' href='img/apple-icon-60x60.png')
      link(rel='apple-touch-icon' sizes='72x72' href='img/apple-icon-72x72.png')
      link(rel='apple-touch-icon' sizes='76x76' href='img/apple-icon-76x76.png')
      link(rel='apple-touch-icon' sizes='114x114' href='img/apple-icon-114x114.png')
      link(rel='apple-touch-icon' sizes='120x120' href='img/apple-icon-120x120.png')
      link(rel='apple-touch-icon' sizes='144x144' href='img/apple-icon-144x144.png')
      link(rel='apple-touch-icon' sizes='152x152' href='img/apple-icon-152x152.png')
      link(rel='apple-touch-icon' sizes='180x180' href='img/apple-icon-180x180.png')
      link(rel='icon' type='image/png' sizes='192x192' href='img/android-icon-192x192.png')
      link(rel='icon' type='image/png' sizes='32x32' href='img/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='96x96' href='img/favicon-96x96.png')  
      link(rel='manifest' href='img/manifest.json')
      link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon' )
      meta(name='msapplication-TileColor' content='#ffffff')
      meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
      script(src='https://kit.fontawesome.com/77fac3ae4f.js' crossorigin='anonymous')

      meta(name='theme-color' content='#ffffff')
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  body 
    
        block menu
          .container
            .row
              nav.navbar.navbar-expand-lg.narbar-light
                a.navbar-brand.mr-auto(href='/')
                  img(src='img/ms-icon-70x70.png' alt='Site logo')                       
                button#nav-toggle.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#mainNav' aria-expanded='false' aria-label='Toggle navigation')
                  span.navbar-toggler-icon
                #mainNav.collapse.navbar-collapse.tm-bg-white
                  ul.navbar-nav.ml-auto
                    li.nav-item
                      a.nav-link(href='#top')
                        | Trang chủ 
                        span.sr-only (current)
                    li.nav-item
                      a.nav-link(href='/class' onclick='parent.location="/class-create"; return false;') Đăng bài
                    li.nav-item
                      a.nav-link(href='/class' onclick='parent.location="/class"; return false;') Bài viết
                    li.nav-item
                      a.nav-link(href='#tm-section-6') Liên hệ
                    li.nav-item
                      a#login.nav-link(href='/login' onclick='parent.location="/login"; return false;') Đăng nhập
                    li.nav-item
                      a#regis.nav-link(href='/registration' onclick='parent.location="/registration"; return false;') Đăng Ký
       
        block form
          .container.ie-h-align-center-fix
            .row 
              .col-xs-12.ml-auto.mr-auto.ie-container-width-fix
                form.tm-search-form.tm-section-pad-2(action='index.html' method='get')
                  .form-row.tm-search-form-row
                    .form-group.tm-form-element.tm-form-element-50
                      i.fa.fa-book.fa-2x.tm-form-element-icon
                      input#inputCity.form-control(name='city' type='text' placeholder='Môn học')
                    .form-group.tm-form-element.tm-form-element-50
                      i.fa.fa-map.fa-2x.tm-form-element-icon
                      input#inputCheckIn.form-control(name='check-in' type='text' placeholder='Tỉnh thành')
                    .form-group.tm-form-element.tm-form-element-50
                      i.fa.fa-user.fa-2x.tm-form-element-icon
                      input#inputCheckOut.form-control(name='check-out' type='text' placeholder='Số học viên')
                    .form-group.tm-form-element.tm-form-element-50
                      button.btn.btn-primary.tm-btn-search(type='submit') Tìm kiếm
    append script    

        