extends ./login
body 
  a#a_btn.btn(href='/')
    i.fas.fa-home
  block form
        
        form(method='post')
          img(src='img/ms-icon-150x150.png')
          .input-div.one
            .i
              i.fas.fa-address-card
            .div
              h5 Fullname
              input.input(type='text' required='' name='name')
          .input-div.pass
            .i
              i.fas.fa-user
            .div
              h5 Username
              input.input(type='text' required='' name='username')
          .input-div.pass
            .i
              i.fas.fa-lock
            .div
              h5 Password
              input.input(type='password' required='' name='password')
          .input-div.pass
            .i
              i.fas.fa-envelope-square
            .div
              h5 Email
              input.input(type='email' required='' name='email')
          .input-div.pass
            .i
              i.fas.fa-phone
            .div
              h5 Số điện thoại
              input.input(type='tel' required='' name='phone')
          .input-div.pass
            .i
              i.fas.fa-calendar
            .div
              input#dob.input(type='date' required='')
          .input-div.pass
            .i
              i.fa.fa-intersex.fa-2x.tm-form-element-icon
            .div.select
                select#mySelect.form-control(name='gender' required='')
                  option(value='MALE') Nam
                  option(value='FEMALE') Nữ  
          a#a_btn.btn(href='/login'  ) Đăng nhập
          input.btn(type='submit' value='Đăng ký')
          a#a_btn.btn(href='/')
              i.fas.fa-home  
    script(type='text/javascript' src='js/main.js')
        
